@model List<BarrowBooks.UI.ViewModels.DailyReportViewModel>
@{
    ViewBag.Title = "DailyReport";
}

<h2>DailyReport</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ISBN</th>
            <th>Return Date</th>
            <th>Penalty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.bookTransaction.BookISBN</td>
                <td>@item.bookTransaction.ReturnDate</td>
                <td>@item.penaltyAmount</td>
            </tr>
        }
    </tbody>
</table>